<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="unify-build-local" value="../../plate-projects/unify-build/build/_artifacts/local/flat" />
    <add key="service-archi-local" value="../../plate-projects/service-archi/build/_artifacts/0.1.0/nuget" />
    <add key="crosscut-local" value="../../plate-projects/crosscut-foundation/build/_artifacts/0.1.0/nuget" />
    <add key="time-dete-local" value="../../plate-projects/time-dete/build/_artifacts/time-dete/nuget" />
    <add key="unify-topology-local" value="../../plate-projects/unify-topology/build/_artifacts/0.1.0/nuget" />
    <add key="unify-maths-local" value="../../plate-projects/unify-maths/build/_artifacts/0.1.0/nuget" />
    <add key="unify-serialization-local" value="../../plate-projects/unify-serialization/build/_artifacts/0.1.0/nuget" />
    <add key="unify-storage-local" value="../../plate-projects/unify-storage/build/_artifacts/0.1.0/nuget" />
    <add key="plate-shared-local" value="../../plate-projects/plate-shared/build/_artifacts/0.1.0/nuget" />
    <add key="plugin-archi-local" value="../../plate-projects/plugin-archi/build/_artifacts/0.1.0/nuget" />
    <add key="modern-satsuma-local" value="../../plate-projects/modern-satsuma/build/_artifacts/0.1.0/nuget" />
  </packageSources>
</configuration>
