<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="unify-build-local" value="../../../plate-projects/unify-build/build/_artifacts/local/flat" />
    <add key="service-archi-local" value="../../../plate-projects/service-archi/build/_artifacts/0.1.0/nuget" />
    <add key="crosscut-local" value="../../../plate-projects/crosscut-foundation/build/_artifacts/0.1.0/nuget" />
  </packageSources>
</configuration>
